.wheaterLocationCont {
    box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, .75);
    font-family: 'Roboto', sans-serif;
    padding: 25px;
    width: 400px;
}

.locationCont {
    color: #888;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    text-align: left;
    width: 100%;
}

.locationCont h3 {
    margin: 0;
}