.weatherDataCont {
    background-color: red;
    line-height: 100px;
    height: 100px;
    width: 400px;
}

.weatherTemperatureCont {
    background: blue;
    display: inline-block;
    width: 60%;
}

.weatherExtraInfoCont {
    background: green;
    display: inline-block;
    width: 40%;
}