.locationList {
    height: 85vh;
    overflow: auto;
    margin-bottom: 20px;
}

.locationList:hover {
    cursor: pointer;
}

@media(max-width: 64em) {
    .locationList {
        max-height: 45vh;
    }
}

.forecastTitle {
    text-align: center;
    padding: 15px 0;
}